.my-uic--grid {
  display: flex;
  flex-direction: column;

  .my-uic--row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .my-uic--cell {
    border: 1px solid;
    padding: 6px;
    margin: 6px;
  }
}
